.container {
  max-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  transition: .3s;

  @media (max-width: 1440px) {
    height: 160px;
  }

  @media (max-width: 768px) {
    height: 110px;
  }

  @media (max-width: 425px) {
    height: 80px;
  }

  .video-preview {
    width: auto;
    height: 200px;
    border-radius: 1em;

    @media (max-width: 1440px) {
      height: 160px;
    }

    @media (max-width: 768px) {
      height: 110px;
    }

    @media (max-width: 425px) {
      height: 80px;
    }
  }

  .video-info {
    height: 100%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .video-name {
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 18px;
      font-weight: 600;

      @media (max-width: 425px) {
        font-size: 16px;
      }
    }

    .video-channel {
      display: flex;
      width: max-content;
      height: auto;
      align-items: center;
      column-gap: 5px;

      .channel-name {
        font-size: 12px;
      }
    }

    .video-description {
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;

      @media (max-width: 425px) {
        font-size: 12px;
      }
    }
  }
}