.container {
  display: flex;
  flex-direction: column;

  .notfoundimage {
    width: 100%;
    height: 300px;
    background:  url(../../images/404-image.svg) no-repeat no-repeat center;
    background-size: contain;
  }

  .error-text {
    text-align: center;
  }

  .error-link {
    color: inherit;
    font-weight: 600;
  }
}